@import url("../../../../global.css");

.auto-scroll-container {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--padding-16);
    mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
    );
}

.auto-scroll-track {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--padding-16);
    min-width: 100%;
    animation: scroll-infinite 30s linear infinite;
}

.auto-scroll-container:hover .auto-scroll-track {
    animation-play-state: paused;
}

@keyframes scroll-infinite {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--padding-16)));
    }
}

.auto-scroll-container svg {
    display: grid;
    place-items: center;
    width: clamp(9rem, 5vw + 7rem, 10rem);
    fill: var(--clr-primary-95);
    aspect-ratio: 3/2;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
    .auto-scroll-track {
        animation-play-state: paused;
    }
}
