@import url("../../../global.css");

#earthCanvas {
    display: block;
    margin: 0 auto;
    cursor: grab;
    width: 100%;
    max-width: 500px;
    transform: scale(1.2);
    background-color: var(--background-color);
}

#earthCanvas.grabbing {
    cursor: grabbing;
}

.points-overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
}

#mapImage {
    display: none;
}
