@import url("../../../global.css");

canvas {
    display: block;
    margin: 0 auto;
    cursor: grab;
    background-color: var(--background-color);
}

canvas.grabbing {
    cursor: grabbing;
}

#mapImage {
    display: none;
}
