@import url("../../../../global.css");

.autoscroll-container {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--padding-16);
    mask-image: linear-gradient(
        to right,
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 1) 20%,
        hsl(0 0% 0% / 1) 80%,
        hsl(0 0% 0% / 0)
    );
}

.autoscroll-track {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--padding-16);
    min-width: 100%;
    animation: scroll-horizontal 30s linear infinite;
}

@keyframes scroll-horizontal {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--padding-16)));
    }
}

.autoscroll-container--reverse .autoscroll-track {
    animation-direction: reverse;
    animation-delay: -3s;
}

.autoscroll-container svg {
    display: grid;
    place-items: center;
    width: 10rem;
    fill: var(--clr-primary-95);
    aspect-ratio: 3/2;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
    .autoscroll-track {
        animation-play-state: paused;
    }
}

@media (max-width: 1024px) {
    .autoscroll-container svg {
        width: 9rem;
    }
}
