@import url("../../../../global.css");
@import url("../common.css");

.card-logo {
    padding: var(--padding-32) var(--padding-32) 0 var(--padding-32);
    display: flex;
    align-items: center;
}

.card:hover {
    transform: scale(1.005);
}

.card-logo .logo-circle {
    width: 40px;
    height: 40px;
    background-color: var(--clr-accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-logo .logo-circle svg {
    width: 24px;
    height: 24px;
    fill: var(--clr-accent-color-pale);
}

@media (max-width: 768px) {
    .card-logo {
        padding: var(--padding-24) var(--padding-24) 0 var(--padding-24);
    }
}
